body{
    width: 100%;
    background: url("../../assets/img/besafe_crm_home_background.jpg")no-repeat;
}
form{
  
        position: relative;
        z-index: 1;
        background: #061F43;
        max-width: 400px;
        margin:20px auto ;
        padding: 35px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        color:white;

}
form input{

        font-family: 'Merriweather', serif;
        outline: 0;
        
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
}
form button {
        font-family: 'Merriweather', serif;
        text-transform: uppercase;
        outline: 0;
        background:#FBCE70;
        width: 100%;
        border: 0;
        margin-top: 15px;
        padding: 15px;
        border-radius: 25px;
        color: #061C3E;
        font-size: 14px;
        transition: all 0.3 ease;
        cursor: pointer;
    }
form label {
        font-family: 'Merriweather', serif;
        font-size: 14px;
        color: white;
        margin: 10px;
    }

